*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-size: 2rem;
}

img{
    height: 200px; 
    padding: 20px;
}
div{
    background-color: lightblue;
}

.header{
    width: 1000px;
    height: 300px;;
    margin: 0 auto;
    text-align: center;
}

.p-in-header{
    padding-top: 30px;
}

.about-me h3{
    padding-top: 1rem;
}

.about-me{
    width: 800px;
    height: 200px;
    margin: 30px auto;
    padding-left: 20px;
}
.my-work{
    width: 800px;
    height: 400px;
    margin: 0 auto 30px;
    padding: 1rem;
}
.my-work div{
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 3px dashed darkblue;
    margin: 25px;
    margin-top: 50px;
    padding: auto;
}

.my-work p{
    text-align: center;
    padding: 90px;
}


